@import "./styles/variable";
@import "./styles/input";
@import "./styles/button";
@import "./styles/mixins";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Lato", sans-serif;
}

.loaderContainer {
  @include flex-center(flex, center, center);
  height: 100vh;
}
.loader {
  border: 3px solid $primaryColor;
  height: 70px;
  width: 70px;
  border-radius: 50%;
  border-top: 3px solid lightgray;
  animation: spin 1s linear infinite;
}
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.cardContainer {
  @include flex-center(flex, center, center);
  height: 100vh;
  .card {
    box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 1rem;
    div {
      margin: 1rem;
    }
    .capitalize {
      text-transform: capitalize;
    }
    .backBtn {
      text-align: center;
    }
  }
}
.main {
  @include flex-center(flex, center, center);
  height: calc(100vh - -23rem);
  overflow-y: scroll;
  .formContainer {
    border: 1px solid $primaryColor;
    width: 50%;
    padding: 1rem;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    .formMain {
      padding: 1rem;
      .title {
        margin-bottom: 1rem;
        text-align: center;
      }

      .sectionTitle {
        margin: 0 0 1rem;
        text-align: center;
      }
      .inputClass {
        display: flex;
        flex-direction: column;
      }
      .dateInputClass {
        display: flex;
        flex-direction: column;
        input {
          width: 100%;
        }
      }
      fieldset {
        border: 1px solid $primaryColor;
        border-radius: 10px;
      }
      .radioInputClass {
        display: flex;
        flex-direction: row;

        .radioBtnClass {
          display: flex;
          flex-direction: row;
          input {
            margin-right: 0.5rem;
          }
        }
        div {
          margin: 0 10px;
        }
      }
      .checkboxInputClass {
        display: flex;
        flex-direction: row;
        margin-bottom: 1rem;

        .checkboxStyle {
          display: flex;
          flex-direction: row;
          input {
            margin-right: 0.5rem;
          }
        }

        div {
          margin: 0 10px;
        }
      }
      .errorMessage {
        color: $errorColor;
        font-style: italic;
        margin-bottom: 1rem;
      }

      .withMargin {
        margin-bottom: 1rem;
      }
      .selectInputClass {
        display: flex;
        flex-direction: column;
        select {
          width: 100%;
          padding: 0.7rem;
        }
      }
      .groupElements {
        padding: 1rem;
        margin-bottom: 1rem;
      }
      .btn {
        @include flex-center(flex, center, center);
      }
    }
  }
}

@media (max-width: 520px) {
  .radioInputClass {
    display: flex;
    flex-direction: column !important;
    .radioBtnClass {
      display: flex;
      flex-direction: row;
      input {
        padding: 0px;
        outline: none;
        width: 10%;
        margin-right: 0.5rem;
      }
    }
  }
  .checkboxInputClass {
    display: flex;
    flex-direction: column !important;

    .checkboxStyle {
      display: flex;
      flex-direction: row;
      input {
        padding: 0px;
        outline: none;
        width: 10%;
        margin-right: 0.5rem;
      }
    }
  }
}
